{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "context": true,
    "it": true,
    "formPrivilegesEventUpdate": true,
    "expect": true,
    "get": true
  },
  "rules": {
    "react/sort-prop-types": 1,
    "react/jsx-sort-props": 1,
    "react/sort-comp": 1,
    "no-unused-vars": 1,
    "max-len": 1,
    "react/prop-types": 1,
    "no-shadow": 1,
    "eqeqeq": 1,
    "prefer-const": 1,
    "no-empty": 1
  }
}
