{
  "rules": {
    "color-named": "never",
    "color-no-hex": true,
    "unit-no-unknown": true,
    "length-zero-no-unit": true,
    "declaration-no-important": true,
    "declaration-block-no-duplicate-properties": true
  }
}