/* settings */
/*  _colors - bahmniTheme:  */
/*  _different shades of grey/gray:  */
/* any text will not be lighter than this */
/* any border will not be lighter than this */
/* any background will not be lighter than this */
/*  _spacing padding - margin:  */
/* _fonts */
/* _mixins */
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("/implementer-interface/fonts/opensans-semibold-webfont.eot");
  src: url("/implementer-interface/fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/implementer-interface/fonts/opensans-semibold-webfont.ttf") format("truetype"), url("/implementer-interface/fonts/opensans-semibold-webfont.svg#open_sans_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("/implementer-interface/fonts/opensans-bold-webfont.eot");
  src: url("/implementer-interface/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/implementer-interface/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/implementer-interface/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("/implementer-interface/fonts/opensans-italic-webfont.eot");
  src: url("/implementer-interface/fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/implementer-interface/fonts/opensans-italic-webfont.woff") format("woff"), url("/implementer-interface/fonts/opensans-italic-webfont.ttf") format("truetype"), url("/implementer-interface/fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("/implementer-interface/fonts/opensans-light-webfont.eot");
  src: url("/implementer-interface/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/implementer-interface/fonts/opensans-light-webfont.ttf") format("truetype"), url("/implementer-interface/fonts/opensans-light-webfont.svg#open_sans_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("/implementer-interface/fonts/opensans-regular-webfont.eot");
  src: url("/implementer-interface/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/implementer-interface/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/implementer-interface/fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none; }

.header-wrap {
  *zoom: 1;
  background: #669999; }
  .header-wrap:before, .header-wrap:after {
    content: "";
    display: table; }
  .header-wrap:after {
    clear: both; }

.header, .breadcrumb, .container-content {
  *zoom: 1;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0; }
  .header:before, .header:after, .breadcrumb:before, .breadcrumb:after, .container-content:before, .container-content:after {
    content: "";
    display: table; }
  .header:after, .breadcrumb:after, .container-content:after {
    clear: both; }

.nav {
  float: left;
  width: auto; }
  .nav ul li {
    padding: 0 20px 0 0;
    display: inline-block; }
    .nav ul li a {
      color: #fff;
      font-weight: 400;
      transition: all .2s ease-out; }
    .nav ul li:hover {
      transform: translateY(-2px);
      opacity: 0.75; }
    .nav ul li.active {
      opacity: 0.75;
      font-family: "OpenSansBold" san-serif; }

.breadcrumb-wrap {
  *zoom: 1;
  background: #ddd;
  box-shadow: 0 1px 8px #686666; }
  .breadcrumb-wrap:before, .breadcrumb-wrap:after {
    content: "";
    display: table; }
  .breadcrumb-wrap:after {
    clear: both; }
  .breadcrumb-wrap .page-title h1 {
    margin: 0;
    font-size: 17px;
    color: #000000;
    padding: 9px 0; }

.breadcrumb {
  padding: 15px 0; }
  .breadcrumb ul {
    display: table;
    float: left;
    width: auto; }

.button, button, input[type="submit"], input[type="button"], input[type="reset"], input[type="submit"], a.button {
  border-radius: 3px;
  background: linear-gradient(to bottom, #FFF, #DDD);
  background-color: #DDD;
  border: #DDD 1px solid;
  padding: 6px 20px 7px;
  display: inline-block;
  line-height: 1.2em;
  color: #363463 !important;
  cursor: pointer;
  min-width: 0;
  max-width: 300px;
  text-decoration: none; }
  .button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover {
    opacity: 0.8; }

.btn--highlight {
  background: linear-gradient(to bottom, #a1d030, #88af28) #88af28;
  border: 1px solid #88af28;
  color: #fff !important; }

.btn--close {
  padding: 5px;
  font-size: 12px;
  width: 74px; }

.dialog-wrapper {
  opacity: 0.85;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
  background-color: #182738; }

.dialog {
  position: relative;
  background: #FFFFFF;
  color: #333;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  border: 1px solid #666;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: table;
  min-width: 450px;
  font-family: "OpenSans", Arial, sans-serif; }
  .dialog--header {
    background: #669999;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px; }
  .dialog--container {
    padding: 10px 20px; }
  .dialog--title {
    margin-bottom: 10px; }
  .dialog .button-wrapper {
    margin: 10px 0; }
    .dialog .button-wrapper button {
      margin-left: 10px; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*doc
---
title: Basic Headings
name: Basic_headings
category: Components - Headings
---
```html_example
<h1>Sample Header1</h1>
<h2>Sample Header2</h2>
<h3>Sample Header3</h3>
<h4>Sample Header4</h4>
<h5>Sample Header5</h5>
<h6>Sample Header6</h6>
```

*/
html, body {
  height: 100%; }

html.ngdialog-open {
  overflow: hidden !important; }

body {
  font-family: "OpenSans", Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #fafafa;
  color: #363463;
  font-size: 16px;
  line-height: 1.1em;
  margin: 0 auto; }
  body pre {
    background: none;
    margin: 0;
    padding: 0;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px; }

ul, ol, li {
  margin: 0;
  padding: 0; }

ol {
  display: inline-block; }

ul {
  list-style: none; }

ul.list {
  margin-bottom: 10px; }
  ul.list li {
    list-style: none;
    margin: 0 0 5px 30px; }
    ul.list li ul li {
      color: #666; }

hr {
  border: 0;
  border-bottom: 1px solid #FFFFFF; }

a, a:link, a:visited, a:hover, a:active {
  color: #2b95ff;
  text-decoration: none;
  cursor: pointer; }

#body-wrapper {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px; }

table {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #00473f;
  clear: both;
  margin: 10px 0;
  font-weight: normal; }

h1 {
  font-size: 1.5em;
  margin: 10px 0 20px 0; }

h2 {
  font-size: 1.3em;
  color: #009384; }
  h2 em {
    font-size: 0.7em;
    color: #00e0c9;
    display: block; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.2em;
  color: #009384; }

h5 {
  font-size: 1.17em; }

h6 {
  font-size: 1.13em;
  color: #009384; }

p {
  margin: 0; }
  p.spaced {
    margin-bottom: 15px; }

strong {
  font-family: "OpenSansBold";
  font-weight: normal; }

em {
  font-family: "OpenSansItalic";
  font-weight: normal;
  font-style: normal; }

table {
  width: 100%; }
  table th, table td {
    padding: 5px 10px;
    border: 1px solid #ddd; }
  table tr {
    border: 1px solid #EEE; }
  table tr:nth-child(even) {
    background: #FFFDF7; }
  table tr:nth-child(odd) {
    background: white; }
  table tr.hover {
    background: #75b2f0;
    color: white;
    cursor: pointer; }
  table tr.selected {
    background: #007FFF;
    color: white; }
    table tr.selected a {
      color: white; }
  table thead th {
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;
    width: auto;
    text-align: left;
    word-break: normal;
    font-weight: normal;
    font-family: "OpenSansBold"; }

.title {
  font-family: "OpenSansBold"; }

.body {
  font-weight: 400; }

.small {
  font-family: "OpenSansLight"; }

.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.fl, .left {
  float: left; }

.fr, .right {
  float: right; }

.overflow-hidden {
  overflow: hidden; }

.align-center {
  text-align: center; }

.hidden {
  display: none; }

.highlighted {
  background-color: #00473f;
  color: #FFFFFF;
  padding: 5px;
  margin: 5px; }

.notification {
  width: 35%;
  margin: 5px auto;
  padding: 7px 10px;
  border-radius: 2px;
  font-size: 14px;
  color: #FFF;
  font-family: "OpenSansBold", Arial, sans-serif;
  text-align: center;
  position: fixed;
  top: 50px;
  left: 32%;
  z-index: 10001;
  display: table; }
  .notification--error {
    background: #d87777;
    background: -moz-linear-gradient(top, #d87777 1%, #d95757 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #d87777), color-stop(100%, #d95757));
    background: -webkit-linear-gradient(top, #d87777 1%, #d95757 100%);
    background: -o-linear-gradient(top, #d87777 1%, #d95757 100%);
    background: -ms-linear-gradient(top, #d87777 1%, #d95757 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d87777', endColorstr = '#d95757', GradientType = 0);
    background: linear-gradient(top, #d87777 1%, #d95757 100%);
    border: 1px solid #b72224;
    padding: 10px; }
    .notification--error .message {
      padding: 0 0 10px; }

.form-field {
  padding: 5px 0; }
  .form-field label {
    display: block;
    font-size: 14px; }
  .form-field input[type=text] {
    width: 100%;
    display: inline-block;
    margin: 2px;
    padding: 8px 10px;
    color: #363463;
    background-color: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box; }

.form-builder-link {
  width: 560px;
  margin: 80px auto;
  display: flex; }
  .form-builder-link a {
    min-height: 115px !important;
    width: 140px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 20px;
    vertical-align: top;
    line-height: 1.3em;
    margin: 10px;
    text-align: center;
    color: #363463;
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(to bottom, #fff, #ddd) #ddd;
    border: 1px solid #ddd;
    font-size: 1.3em; }
