//TOP FIXED HEADER

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.header-wrap{
  @include clearfix();
  background: $bahmniSecondaryColor;
}

.header ,.breadcrumb ,.container-content{
  @include clearfix();
  max-width:$max-page-width ;
  margin:0 auto;
  padding: 20px 0;
}

.section-grid {
  margin: 0 0 10px;
  font-size: 14px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  border: 1px solid #699;
  border-radius: 5px 5px 0 0;
  background: $white;
  .section-content{
    padding: 10px 0;
  }
}

h2.header-title {
  background: $bahmniSecondaryColor ;
  color: $lightestGray;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0;
}

.nav{
  float:left;
  width: auto;
  ul{
    li{
      padding:0 20px 0 0;
      display: inline-block;
      a{
        color: #fff;
        font-weight: 400;
        transition: all .2s ease-out;
      }
      &:hover{
        transform: translateY(-2px);
        opacity: 0.75;
      }
      &.active{
        opacity: 0.75;
        font-family: $primaryBoldFont san-serif;
      }
    }
  }
}

//SECOND FIXED HEADER

.breadcrumb-wrap{
  @include clearfix();
  background: #ddd;
  box-shadow: 0 1px 8px #686666;
  .page-title h1{
    margin:0;
    font-size: 17px;
    color:$black;
    padding: 9px 0;
  }
}

.breadcrumb{
  padding: 15px 0;
  ul{
    display: table;
    float: left;
    width:auto;
  }
}

@mixin button($tcolor: #FFF, $bcolor: #DDD, $font: $bahmniTextColor) {
  border-radius: 3px;
  background: linear-gradient(to bottom, $tcolor, $bcolor);
  background-color: $bcolor;
  border: $bcolor 1px solid;
  padding: 6px 20px 7px;
  display: inline-block;
  line-height: 1.2em;
  color:$bahmniTextColor !important;
  cursor: pointer;
  min-width: 0;
  max-width: 300px;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
  &:disabled{
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.button, button, input[type="button"],input[type="reset"], a.button {
  @include button;
}

.btn{
  &--highlight , input[type="submit"], button[type="submit"]{
    background: linear-gradient(to bottom,#a1d030,#88af28) #88af28;
    border: 1px solid #88af28;
    color:#fff !important;
  }
  &--close{
    padding: 5px;
    font-size: 12px;
    width: 74px;
  }
}

input[type="checkbox"]{
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px !important;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.container-columns {
  @include clearfix();
  margin: 10px;
}

.column-side {
  width: 255px;
  float: left;
  margin-right:-100%;
}

.container-column-main {
  float: right;
  width: 100%;
}

.column-main {
  margin-left: 255px;
  padding-left: 10px;
}

.container-main {
  @include clearfix();
  border: 1px solid $bahmniSecondaryColor;
  border-radius: 5px 5px 0 0;
  margin: 10px 0;
}

.button-wrapper {
  // remove
  clear:both;
  overflow: hidden;
  margin: 0 0 10px;
}

.save-button {
  background: $bahmniPrimaryBtnColor;
  color: white !important;
  border: $bahmniPrimaryBtnColorHover 1px solid;
}