.breadcrumb-wrap{
  position: fixed;
  top: 52px;
  z-index: 9;
  background: $bahmniPageBg;
  width: 100%;
  left: 0;
  box-shadow: 0 1px 8px $gray600;
  border-bottom: 1px $bahmniSecondaryColor solid;
  .page-title h1{
    margin:0;
    font-size: 17px;
    color:$black;
    padding: 9px 0;
  }
}

.breadcrumb-inner{
  padding: 5px 0;
  .breadcrumbs{
    display: table;
    float: left;
    width:auto;
    margin:8px 0;
    span{
      padding-left: 30px;
      position: relative;
      color: $black;
      font-size: 14px;
      &:before{
        content: "";
        width: 0;
        height: 0;
        left:11px;
        top:2px;
        position: absolute;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid $black;
      }
      &:after {
        content: "";
        width: 0;
        height: 0;
        left: 11px;
        top: 5px;
        position: absolute;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $bahmniPageBg;
      }
      &:first-child {
        padding-left: 0;
        &:before ,&:after{
          display: none;
        }
      }
    }
  }
}