.form-builder-canvas {
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid $bahmniSecondaryColor;
  border-radius: 5px 5px 0 0;
  background: $bahmniPageBg;
  font-size: 12px;
  min-height: 472px;
  .canvas-placeholder{
    text-align: center;
  }
}

.grid {
   @include clearfix();
   display: block;
   width: 100%;
   margin:10px 0;
   border: 1px dotted $gray500;
 }

.form-builder-row{
  border-bottom: 1px dotted $gray500;
  &:last-child{
    border-bottom: none;
  }
}