.control-list {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid $white;
  &:hover,&:active {
    background: $lighterGray;
    border: 1px solid $lightGray;
  }
}
.obs-control-wrap{
  padding: 10px;
  label{
    width:10em;
    display: inline-block;
    text-transform: capitalize;
    margin: 0.2em 0.8em 0.3em 0em;
    line-height: 1;
    vertical-align: top;
  }
  .form-properties{
    margin:10px 0 0;
    div{
      margin-bottom: 5px;
    }
  }
}