.form-list table{
  width: 100%;
  border: 1px solid $gray500;
  font-size: 13px;
  tr{
    th, td {
      padding:10px;
      border-bottom: 1px solid $gray400;
    }
  }
  thead tr {
    background: $gray200;
    th{
      width: auto;
      text-align: left;
      word-break: normal;
      font-family: $primaryBoldFont;
      font-size: 14px;
      color: $gray600;
    }
  }
  tbody{
    color: $bahmniTextColor;
    padding: 7px 10px;
    td.edit-icon{
      i{
        color: $black;
        &:hover{
          color: $bahmniSecondaryColor;
        }
      }
    }

  }
}
p.placeholder-text{
  font-size: 14px;
  color: $gray800;
  padding: 5px;
}