.form-field{
  padding: 5px 0;
  font-family: $primaryFont;
  label{
    display: block;
    font-size: 14px;
    .asterisk{
      color: $red;
      padding: 0 5px;
    }
  }
  input[type=text],input {
    width: 100%;
    min-width: 198px !important;
    display: inline-block;
    margin: 2px;
    padding: 8px 10px;
    color: $bahmniTextColor;
    background-color: $white;
    border: 1px solid $gray300;
    box-sizing: border-box;
  }
  .form-error{
    color: $red;
    font-size: 12px;
  }
}

