.form-field{
  padding: 5px 0;
  font-family: $primaryFont;
  label{
    display: block;
    font-size: 14px;
    .asterisk{
      color: $red;
      padding: 0 5px;
    }
  }
  input[type=text],input {
    width: 100%;
    min-width: 198px;
    display: inline-block;
    margin: 2px;
    padding: 8px 10px;
    color: $bahmniTextColor;
    background-color: $white;
    border: 1px solid $gray300;
    box-sizing: border-box;
  }
  .form-error{
    color: $red;
    font-size: 12px;
  }
  .is-red {
    outline-color: $red;
  }
}



.importBtn {
  float: right;
  width: 100px;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  label {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  &:hover {
    color: $gray800;
    background: $gray200;
    border-color: $gray400;
    text-decoration: none
  }
}
.form-event-container {
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid $gray300;
  position: relative;
  overflow: hidden;
  label {
    font-size: 14px;
    vertical-align: middle;
    padding-top: 5px;
    float: left;
  }
  button {
    background: transparent;
    padding: 5px;
    color: $gray500;
    float: right;
    &:hover {
      background: $gray300;
      color: $gray600;
    }
  }
}
.control-event-button {
  background: transparent;
  padding: 5px;
  color: $gray500;
  float: right;
  &:hover {
    background: $gray300;
    color: $gray600;
  }
}
