@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) + px;
}

@mixin clearfix() {
  *zoom:1;
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}

@mixin box-shadow-for-section{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin check-box {
  -webkit-appearance: none;
  background-color: $bahmniPageBg;
  border: 1px solid $gray400;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;

  &:active, &:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
  }

  &:checked {
    background-color: $white;
    border: 1px solid $gray500;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: $text;
  }

  &:checked:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: -2px;
    left: 2px;
    color: $text;
  }
}

@mixin button($tcolor: $white, $bcolor: $gray300, $font: $bahmniTextColor) {
  border-radius: 3px;
  background: linear-gradient(to bottom, $tcolor, $bcolor);
  background-color: $bcolor;
  border: $bcolor 1px solid;
  padding: 6px 20px 7px;
  display: inline-block;
  line-height: 1.2em;
  color:$bahmniTextColor;
  cursor: pointer;
  min-width: 0;
  max-width: 300px;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  &:hover {
    opacity: 0.8;
  }
  &:disabled{
    opacity: 0.4;
    cursor: not-allowed;
  }
}
