.dialog-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-animation: .5s;
  animation:.5s;
}

.dialog{
  @include box-shadow-for-section;
  position: fixed;
  background: $white;
  color: $gray800;
  border:1px solid $gray600;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: auto;
  display: table;
  min-width:450px;
  font-family: $primaryFont, Arial, sans-serif;
  border-radius: 5px 5px 0 0;
  z-index: 10000;
  max-width: 100%;
  &--container{
    padding: 10px 20px;
  }
  &--title{
    margin-bottom: 10px;
  }
  .button-wrapper{
    padding: 10px 0;
    margin: 0 10px 0 0;
  }
  &--no-header{
    -webkit-animation:.5s;
    animation: .5s;
    background: $gray100;
    border-radius: 5px;
    line-height: 1.5em;
    padding: 1em;
    width: 450px;
  }
  .editor-wrapper{
    width: 100%;
  }
}
